:root {
  --color-lightest: #f0f5f4;
  --color-dark: #333;
  --color-darkest: #212121;
  --color-accent: #6ba2fa;
}

.break-border {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 80vw;
  /* background-color: var(--color-accent); */
  background: #6ba2fa;
  background: linear-gradient(
    90deg,
    rgba(107, 162, 250, 1) 0%,
    rgba(107, 162, 250, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
